<div class="reset-wrapper">
    <div class="reset-container">
   
      <div class="logo-area">
        <i class="fas fa-briefcase logo-icon"></i>
        <span class="logo-text">THP</span>
      </div>
  
      <h2>Reset Password</h2>
      <p class="subtitle">
        Duis luctus interdum metus, ut consectetur ante consectetur sed.
        Suspendisse euismod viverra massa sit amet mollis.
      </p>
  
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="New Password" (input)="checkPasswordRules()" />
          <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePassword()"></i>
        </div>
      
        <div class="input-group">
          <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" placeholder="Confirm Password" (input)="checkPasswordRules()" />
          <i class="fas" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="toggleConfirmPassword()"></i>
        </div>
      
        <ul class="password-rules" *ngIf="f['password'].value?.length > 0">
          <li [class.valid]="rules.minLength">Min 8 characters</li>
          <li [class.valid]="rules.uppercase">At least 1 uppercase letter</li>
          <li [class.valid]="rules.lowercase">At least 1 lowercase letter</li>
          <li [class.valid]="rules.number">At least 1 number</li>
          <li [class.valid]="rules.specialChar">At least 1 special character</li>
          <li [class.valid]="rules.noSpaces">No spaces</li>
       
        </ul>
      
        <button type="submit">
          Reset Password <i class="fas fa-arrow-right"></i>
        </button>
      </form>
    </div>
  </div>