<div class="forgot-wrapper">
    <div class="forgot-container">
   
      <div class="logo-area">
        <i class="fas fa-briefcase logo-icon"></i>
        <span class="logo-text">THP</span>
      </div>
  
      <h2>Forget Password</h2>
      <p class="nav-links">
        Go back to <a href="#">Sign In</a><br />
        Don’t have account? <a href="#">Create Account</a>
      </p>
  
      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
        <input
          type="email"
          formControlName="email"
          placeholder="Email address"
          class="email-input"
        />
        <button type="submit" class="reset-btn">
          Reset Password <i class="fas fa-arrow-right"></i>
        </button>
      </form>
    </div>
  </div>