
<div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-2 p-0">
        <app-admin-dashboard></app-admin-dashboard>
      </div>
      <div class="col-12 col-md-10 py-3 px-4">
        <div class="row mb-4">
          <div class="col-12">
            <app-report-cards></app-report-cards>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-8 mb-4">
            <app-manage-users></app-manage-users>
          </div>
          <div class="col-12 col-lg-4 mb-4">
            <app-reports-section></app-reports-section>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-4">
            <app-job-postings></app-job-postings>
            
          </div>
        </div>


