<section class="how-it-works">
    <h2>How It Works</h2>
    <p class="subtext">Simple steps to hire or get hired.</p>
    
    <div class="steps">
      <div class="step">
        <i class="fas fa-user-plus"></i>
        <h4 >Create an Account</h4>
        <p>Sign up as a Job Owner or Technician to access job opportunities or services.</p>
      </div>
      <div class="step">
        <i class="fas fa-clipboard-list"></i>
        <h4>Post or Find Jobs</h4>
        <p>Job Owners post requests and Technicians browse available listings.</p>
      </div>
      <div class="step">
        <i class="fas fa-handshake"></i>
        <h4>Connect and Complete</h4>
        <p>Hire the right person or get hired, communicate, and complete the job efficiently.</p>
      </div>
    </div>
  
    <div class="how-buttons">
      <a routerLink="/LoginComponent/register" class="btn-primary">Create Account</a>
      <a routerLink="/LoginComponent/login-page" class="btn-outline">Login</a>
    </div>
  </section>